# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

*.tfvars

.envrc
talosctl
theila

controlplane.yaml
join.yaml
talosconfig
kubeconfig
tmp
.DS_Store